<mat-nav-list>
    <div class="profile">
        <div class="header">
            <img src="../../../../assets/profilePhoto.jpg" alt="">
            <h2>{{name}}</h2>
           
        </div>    

    </div> 
    <mat-divider></mat-divider>
    <h2 matSubheader>Categories</h2>
    <div class='category'>
        <button mat-button (click)="cate('Electronics')">Electronics</button><br>
        <button mat-button (click)="cate('Smartphones')">Smartphones</button><br>
        <button mat-button (click)="cate('Apparell')">Apparell</button><br>
        <button mat-button routerLink="showProducts">All Products</button>
    
    </div>
    
    
    <mat-divider></mat-divider>    
    <mat-menu #menu="matMenu">
        <button mat-menu-item  >Admin login</button>
        <button mat-menu-item routerLink="userLogin">User Login</button>
        <button mat-menu-item routerLink="retailerLogin">Retailer Login</button>
    </mat-menu>


    <button mat-button [matMenuTriggerFor]='menu' *ngIf="login">
        Login
        <mat-icon>person_outline</mat-icon>
        <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <br>
    <button mat-icon-button *ngIf="login==false" (click)="logout()" click >
        Logout
        <mat-icon>logout</mat-icon>
    </button>

</mat-nav-list>