 <div fxflex>
    <div *ngFor="let wl of wishlist">
        <div class="row">
            <div class="column">
              <div class="card">
                <div class="container">
                <img [src]="wl.Product_Image" alt="Avatar" >
            
              <h4><b>{{wl.Product_Name}}</b></h4> 
              <p><i><b>{{wl.Product_Description}}</b></i></p>
              <p><i><b>{{wl.Product_Price}}</b></i></p>
              <!-- <button class="btn btn-success" >Add to cart</button> -->
              <button class="btn btn-danger" (click)="deleteItem(wl.WishList_Id)"  >Delete from wishlist</button>
              
            </div>
            <br>

              </div><br>
            </div>
            
    
    </div>
  </div>
  <br><br><br>
  <br><br><br><br>
  <br>
<app-footer></app-footer>