<div class="container">
    <h1>Add new product</h1>
    <h2>Retailer ID:{{productform.value["Retailer_Id"]}}</h2>
<form [formGroup]="productform">
    
  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Product Name</mat-label>
      <input matInput  formControlName="Product_Name">
  </mat-form-field>
  <br>
  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Description</mat-label>
    <input matInput  formControlName="Product_Description">
</mat-form-field>
<br>
<mat-form-field class="form-field" appearance="outline">
    <mat-label>Price</mat-label>
    <input matInput  formControlName="Product_Price">
</mat-form-field>
<br>
<mat-form-field class="form-field" appearance="outline">
    <mat-label>Category</mat-label>
  <mat-select formControlName="Product_Category">
    <mat-option value="Electronics">Electronics</mat-option>
    <mat-option value="Smartphone">Smartphones</mat-option>
    <mat-option value="Footwear">Footwear</mat-option>
  </mat-select>
</mat-form-field>
<br>
<mat-form-field class="form-field" appearance="outline">
    <mat-label>Image Url</mat-label>
      <input matInput  formControlName="Product_Image">
  </mat-form-field>
<br>
<hr>
<button mat-raised-button color="primary"[disabled]="productform.invalid"(click)="submit()" >Add Product</button>
</form>
</div> 
<app-footer></app-footer>