<div class="container">
    <h1>Retailer Registration</h1>
    <h2>Become our partner and go global</h2>
    <div class="form-container">
        <form [formGroup]="retailForm" (submit)="onretailRegister()">
    <mat-form-field class="form-field" appearance="outline">
        <input matInput placeholder="Enter Organisation First Name" formControlName="First_Name">
    </mat-form-field>
    <br>
    <mat-form-field class="form-field" appearance="outline">
        <input matInput placeholder="Enter Organisation Last Name" formControlName="Last_Name">
    </mat-form-field>
    <br>
  <mat-form-field class="form-field" appearance="outline">
    <input matInput placeholder="Enter Email" formControlName="Email">
</mat-form-field>
<br>
<mat-form-field class="form-field" appearance="outline">
    <input matInput placeholder="Enter Mobile" formControlName="Mobile_Number">
</mat-form-field>
<br>
<mat-form-field class="form-field" appearance="outline">
    <input matInput placeholder="Enter Address" formControlName="Address">
</mat-form-field>
<br>
<mat-form-field class="form-field" appearance="outline">
    <input matInput type="password" placeholder="Enter Password" formControlName="Password">
</mat-form-field>
<br>
<button mat-raised-button color="primary" type="submit" [disabled]="retailForm.invalid"  >Register</button>
</form>
</div>
</div>
<app-footer></app-footer>