<div class="container">
   
    <form *ngIf="msgCheck==false" [formGroup]="msgVerificationForm" (ngSubmit)="sendOtp()">
        <div class="md-form mb-5">
            <label for="Mobile_Number"> Mobile Number</label>
            <input type="text" id="Mobile_Number"placeholder="Enter your Mobile Number" class="form-control validate white-text" formControlName="Mobile_Number">
            
        </div>
        <br>
        <div class="text-center mb-3 col-md-12">
            <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1">Send OTP</button>
        </div>
    </form>

    <div class="md-form mb-5" *ngIf="msgCheck==true && otpConfirm==false">
        <input type="text" id="otpConfirm" class="form-control validate white-text" [(ngModel)]="otpCheck"><br>
        <button type="submit" (click)="checkOtp()" class="btn btn-success btn-block btn-rounded z-depth-1">Confirm OTP</button>
    </div>

    <form *ngIf="msgCheck==true && passwordUpdateCheck==false && otpConfirm==true" [formGroup]="passwordUpdateForm" (ngSubmit)="updatePassword()">
        <div class="md-form mb-5">
            <label for="Password">Password</label>
            <input type="password" id="Password" class="form-control validate white-text" formControlName="Password">
            

        </div> <br>
        <div class="text-center mb-3 col-md-12">
            <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1">Update Password</button>
            <a class="btn btn-primary btn-block btn-rounded z-depth-1" [routerLink]="['/userLogin']">Back</a>
        </div>
    </form>

</div>