<div class="float-container">
    <div class="float-child">
        
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>
        <span routerLink="">App Name</span>
        <div fxFlex fxLayout='row' fxLayoutAlign="flex-end" class="rightElements">
            <ul  fxLayout="row" fxLayoutGap=20px>
                <li>
                    <button mat-icon-button>
                        <mat-icon routerLink="search">search</mat-icon>
                    </button>
                </li>
             <li>
                 <button mat-icon-button routerLink="/wishlist">
                     <mat-icon>bookmark_border</mat-icon>
                 </button>
             </li>
             <li>
                 <button mat-icon-button routerLink="/cart">
                     <mat-icon>shopping_cart</mat-icon>
                 </button>
             </li>
             <li>
                 <button mat-icon-button (click)="Profile()"  >
                     <mat-icon>person</mat-icon>
                 </button>
             </li>
            </ul>
        </div>
    </mat-toolbar-row>
 </mat-toolbar>
    </div>
</div>