<div class="login-container">
    <div class="form-container">
      <form [formGroup]="loginForm" (submit)="submit()">
        <label >Email</label><br>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> E-mail
          </mat-label>
          <input matInput formControlName="Email" required>
          <mat-error *ngIf="loginForm.controls.Email.touched && loginForm.controls.Email.invalid">
            <span *ngIf="loginForm.controls.Email.errors.required">This field is mandatory.</span>
            <span *ngIf="loginForm.controls.Email.errors.pattern">This field is invalid.</span>
          </mat-error>
        </mat-form-field><br>
        <label >Password</label>
        <br>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Password 
          </mat-label>
          
          <input matInput formControlName="Password" type="password">
          <mat-error *ngIf="loginForm.controls.Password.touched && loginForm.controls.Password.invalid">
            <span *ngIf="loginForm.controls.Password.errors.required">This field is mandatory.</span>
          </mat-error>
        </mat-form-field><br>
        <button mat-raised-button color="primary" type="submit">Log In</button> &nbsp;
        <button mat-raised-button color="primary" [routerLink]="'/userRegistration'" >Register </button>
        <p routerLink="/forgotpassword">Forgot Password</p>
      </form>
    </div>
  </div>
  <br><br>
  <br><br><br>
  <br><br><br><br>
  <br>
<app-footer></app-footer>
  
 
 