<footer id="footer">
    <!-- top footer -->
    <div class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="footer">
              <h3 class="footer-title">About Us</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
              <ul class="footer-links">
                <li><a href="#"><mat-icon>phone_outline</mat-icon>+91-8961684003</a></li>
                <li><a href="#"><mat-icon>email </mat-icon>a@gmail.com</a></li>
              </ul>
            </div>
          </div>
  
          <div class="clearfix visible-xs"></div>
  
          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 class="footer-title">Information</h3>
              <ul class="footer-links">
                <li><a href="#">About Us</a></li>
              </ul>
            </div>
          </div>
  
          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 class="footer-title">Service</h3>
              <ul class="footer-links">
                <li><a href="user">My Account</a></li>
                <li><a href="cart">View Cart</a></li>
                <li><a href="wishlist">Wishlist</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /top footer -->
  </footer>
  <!-- /FOOTER -->