

<h3>Products Details</h3>
<br>

<table align="center" border="4" style="margin-left: 2%;" cellspacing="10" cellpadding="10" >
<tr>
    <th style="text-align: center;">
        Product Name
    </th>
    <th style="text-align: center;">
        Product category
    </th>
    
    <th style="text-align: center;">
        product Price
    </th>
</tr>
<tr *ngFor="let i of listofproducts">
    <td>{{i.Product_Name}}</td>
    <td>{{i.Product_Category}}</td>
    <td>{{i.Product_Price}}</td>

</tr>
</table>

<br><br><br><br><br><br><br><br><br>
<app-footer></app-footer>